@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Mr+De+Haviland&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
p{
    color: darkslategray;
    text-align: justify;
    font-size: 1.4rem;
    line-height: 1.9rem;
}

.section-title{
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}
.section-title span{
    color: rgb(178, 181, 189);
}
.cta{
    display: inline-block;
    padding: 10px 30px;
    color: lightgrey;
    background-color: transparent;
    border: 2px solid;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
}
.cta:hover{
    color: black;
    
    border: 2px solid black;
}
.brand h1{
    font-size: 3rem;
    font-weight: normal;
    color: lightgray;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
}
.brand h1 span{
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

/* Header */
#header{
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}
#header .header{
    min-height: 8vh;
    background-color: rgb(76, 76, 77, .24);
    transition: .3s ease background-color;
}
#header .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}
#header .nav-list ul{
    list-style: none;
    position: absolute;
    background-color: rgb(76, 76, 77);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: .5s ease left;
}
#header .nav-list ul.active{
    left: 0;
}
#header .nav-list ul a{
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}
#header .nav-list ul a::after {
    content: attr(data-after);
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgb(240, 248, 255, 0.021);
    font-size: 13rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: .3s ease letter-spacing;
}   
#header .nav-list ul li:hover a::after{
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}
#header .nav-list ul li:hover a{
    color: lightgray;
}
#header .hamburger{
    z-index:100;
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(.8);
    margin: 20px;
}
#header .hamburger:after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    animation: hamburger_pulse 1.5s ease infinite;
}
#header .hamburger .bar{
    height: 2px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
}
#header .hamburger .bar::after, #header .hamburger .bar::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: .3s ease;
    transition-property: top, bottom;
}
#header .hamburger .bar::after{
    top: 8px;
}
#header .hamburger .bar::before{
    bottom: 8px;
}
#header .hamburger.active .bar::before{
    bottom: 0;
} 
#header .hamburger.active .bar::after{
    top: 0;
}
/* End of Header */

/* home Section */
#home{
    background-image: url(./img/Light.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
    
}
#home::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: grey;
    opacity: .7;
    z-index: -1;
    
}
#home .home{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
    
}
#home h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: 2s forwards text_reveal;
    animation-delay: 1s;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
}


/* End home Section */

/* Skills Section */

#skills .skills{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}
#skills .skills-top p {
    color: black;
    font-size: 1.4rem;
    margin: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
    text-align: justify;
}
#skills .skills-top{
    max-width: 500px;
    margin: 0 auto;
}
#skills .skills-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
#skills .skills-item {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url(./img/sheets.jpeg);
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
#skills .skills-item::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    opacity: .8;
    z-index: -1;
}
#skills .skills-bottom .icon {
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
}
#skills .skills-bottom .icon img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#skills .skills-item h2{
    font-size: 2rem;
    color: darkslategrey;
    margin-bottom: 10px;
    text-transform: uppercase;
}
#skills .skills-item p{
    color:darkslategray;
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.9rem;
}
/* End of Skills Section*/

/* Project Section*/
#projects .projects{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}
#projects .projects-header h1{
    margin-bottom: 50px;
}
#projects .all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#projects .project-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}
#projects .project-info{
    padding: 30px;
    flex-basis: 50%;
    background-color: rgb(178, 181, 189);
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    color: white;
}
#projects .project-info h1{
    font-size: 4rem;
    font-weight: 500;
}
#projects .project-info h2{
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
}
#projects .project-info p{
    color: grey;
    text-align: justify;
}
#projects .project-img{
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
}
#projects .project-img:after {
    content:'';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: .5;
}
#projects .project-img img{
    transition: .3s ease transform;
}
#projects .project-item:hover .project-img img{
    transform:scale(1.1);
}
/* Project Section*/

/* About Section*/
#about .about{
    flex-direction:column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}
#about .col-left {
    width: 250px;
    height: 360px;
}
#about .col-right {
    width: 100%;
}
#about .col-right h2{
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing:.2rem;
    margin-bottom: 10px;
}
#about .col-right p{
    margin-bottom: 20px;
}
#about .col-right .cta{
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 2rem;
}
#about .col-left .about-img {
    position: relative;
    height: 100%;
    width: 100%;
    border: 10px solid white;
}
#about .col-left .about-img::after{
    content: '';
    position: absolute;
    left: -33px;
    top: 19px;
    height: 98%;
    width: 98%;
    border: 7px solid grey;
    z-index: -1;
}
/* End of About Section*/

/* Contact Section */
#contact .contact {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}
#contact .contact-items {
    width: 400px;
}
#contact .contact-item {
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 18px 0 #0000002c;
    transition: .3s ease box-shadow;
}
#contact .contact-item:hover {
    box-shadow: 0px 0px 18px 0 #0000002c;
    transform:scale(1.02)
}
#contact .icon {
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}
#contact .contact-info h1{
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5px;
}
#contact .contact-info h2{
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 500;
}
/*End of Contact Section*/

/* Footer */
#footer {
    background-color: rgb(178, 181, 189);
}
#footer .footer {
    min-height: 200px;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 5px;
}
#footer h2{
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
#footer .social-icon{
    display: flex;
    margin-bottom: 30px;
}
#footer .social-item {
    height: 50px;
    width: 50px;
    margin: 0 5px;
}
#footer .social-item img{
    transition: .3s ease;
}
#footer .social-item img:hover {
    transform:scale(1.05)
}
#footer p{
    color: white;
    font-size: 1.3rem;
}
/* End of Footer */

/* Keyframes */
@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal{
    from {
        margin-right: 100%;
        width: 300%;
    }
    100%{
        color: rgb(226, 225, 225);
    }
    
    to {
        margin-right: 0%;
        width: 100%;
    }
}

@keyframes hamburger_pulse{
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(1.5);
    }
}
/* End Key Frames */

/* Media Query for Tablet*/

/*End Media Query for Tablet*/
@media only screen and (min-width:768px){
    .cta {
        font-size: 2.5rem;
        padding: 20px 60px;
    }
    h1.section-title {
        font-size: 6rem;
    }
    /* home */
    #home h1 {
        font-size: 7rem;
    }
    /* End of home Section */

    /* Skills Section */
    #skills .skills-bottom .skills-item {
        flex-basis: 45%;
        margin: 2.5%;
    }
    /* End of Skills Section */

    /* Project */
    #projects .project-item{
        flex-direction: row;
    }
    #projects .project-item:nth-child(even){
        flex-direction: row-reverse;
    }
    #projects .project-item {
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }
    #projects .all-projects .project-info{
        height: 100%;
    }
    #projects .all-projects .project-img{
        height: 100%;
    }
    /* End of Project */

    /* About */
    #about .about{
        flex-direction: row;
    }
    #about .col-left{
        width: 600px;
        height: 400px;
        padding-left: 60px;
    }
    #about .about .col-left .about-img::after{
        left: -45px;
        top: 34px;
        height: 98%;
        width: 98%;
        border: 10px solid grey;
    }
    #about .col-right {
        text-align: left;
        padding: 30px;
    }
    #about .col-right h1{
        text-align: left;
    }
    #about .col-right p{
        text-align: justify;
    }
    /* End of About */
    /* Contact */
    #contact .contact {
        flex-direction: column;
        padding: 75px 0;
        align-items: center;
        justify-content: center;
        min-height: 20vh;
    }
    #contact .contact-items{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0;
    }
    #contact .contact-item{
        width: 30%;
        margin: 0;
        flex-direction: row;
    }
    #contact .contact-item .icon{
        height: 100px;
        width: 100px;
    }
    #contact .contact-item .icon img{
        object-fit: contain;
    }
    #contact .contact-item .contact-info{
        text-align: left;
        width: 100%;
        padding-left: 15px;
    }
    /* End of Contact */
}
/* End Media Query for Tablet*/

/* Media Query for Desktop */
@media only screen and (min-width:1200px){
    /* header */
    #header .hamburger{
        display: none;
    }
    #header .nav-list ul{
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }
    #header .nav-list ul li{
        display: inline-block;
    }
    #header .nav-list ul li a{
        font-size: 1.8rem;
    }
    #header .nav-list ul a:after{
        display: none;
    }
    /* End Header */
    #skills .skills-bottom .skills-item {
        flex-basis: 22%;
        margin: 1.5%;

    }
} 
/* End Media Query for Desktop */
